/**
 * 在此处的注册的css会被content-script注入到启用的页面中。
 */

/*noinspection CssUnknownTarget*/
@import "../../shared/common.scss";

#ptd-content-script-app,
.v-overlay-container {
  all: initial;
  box-sizing: border-box;
  word-break: normal;
}
