/**
 * 在此处的注册的css会被content-script注入到启用的页面中。
 */

/* 修正 Vuetify 组件样式在 content-script 中的显示问题 */
.v-container {
    width: unset !important;
}

.v-col {
    flex-basis: 0 !important;
    flex-grow: 1 !important;
}

.v-field__input {
    min-height: unset !important;
}

.table-no-ext-padding {
    .v-data-table__td {
        padding: 0 4px !important;
    }
}

.table-header-no-wrap {
    .v-data-table-header__content {
        span {
            white-space: nowrap !important;
        }
    }
}

.table-stripe {
    tr.v-data-table__tr:nth-child(even) {
        background-color: #f1f1f1;
    }
}
