/**
 * 在此处的注册的css会被content-script注入到启用的页面中。
 */

/*noinspection CssUnknownTarget*/
@import "@/shared/common.css";

/* 修正 Vuetify 组件样式在 content-script 中的显示问题 */
.v-container {
    width: unset !important;
}

.v-col {
    flex-basis: 0 !important;
    flex-grow: 1 !important;
}

.v-field__input {
    min-height: unset !important;
}

