
.table-header-no-wrap {
    .v-data-table-header__content {
        span {
            white-space: nowrap !important;
        }
    }
}

.table-stripe {
    tr.v-data-table__tr:nth-child(even) {
        background-color: #f1f1f1;
    }
}

.table-no-ext-padding {
    .v-data-table__td {
        padding: 0 4px !important;
    }
}


/* 暗黑模式覆写 */
.v-theme--dark {
    .table-stripe {
        tr.v-data-table__tr:nth-child(even) {
            background-color: #2a2a2a;
        }
    }
}
